<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Erro!</title>
		</head>
	<body>

		<h1>Erro no aplicativo</h1>		

		<% if (typeof error === 'object') { %>
			object
		<% } %>

		<h2><%= error %></h2>

	</body>
</html> 